.clip {
  clip-path: polygon(
    18% 9%,
    34% 5%,
    45% 14%,
    53% 8%,
    62% 16%,
    77% 9%,
    80% 17%,
    89% 23%,
    83% 36%,
    86% 44%,
    76% 51%,
    75% 61%,
    64% 63%,
    52% 75%,
    41% 71%,
    23% 70%,
    13% 58%,
    8% 38%,
    7% 21%
  );
}

.human {
  clip-path: url(#humanClip);
}

.clipAnimation {
  animation: clip 1s infinite;
}

.humanMask {
  mask: url("./animated/humanMask.svg");
}

@keyframes clip {
  0% {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  50% {
    clip-path: polygon(
      49% 33%,
      58% 11%,
      85% 12%,
      96% 30%,
      91% 58%,
      50% 99%,
      6% 56%,
      4% 30%,
      18% 11%,
      37% 11%
    );
  }

  100% {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
}
