.colors {
  width: 400px;
  height: 400px;
}

.blur {
  animation: blur 4s linear infinite;
}

.hue {
  animation: hue 4s linear infinite;
}

.grayscale {
  animation: grayscale 4s linear infinite;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }

  50% {
    filter: blur(6px);
  }

  100% {
    filter: blur(0px);
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes grayscale {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(100%);
  }

  100% {
    filter: grayscale(0%);
  }
}
